<div *ngIf="!isLoading" class="sc-hidden"   >


    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col"># </th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Code</th>
            <th scope="col">Phone number</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ven of pendingVendors;let index=index;">
            <th scope="row">{{index+1}} </th>
            <td>{{ven.userr?.name}} </td>
            <td>{{ven.userr?.username }} </td>
            <td>{{ven.userr?.email}} </td>
            <td>{{ven.userr?.code}} </td>
            <td>{{ven.userr?.number}} </td>
          
          </tr>
          
        </tbody>
      </table>



</div>

<div *ngIf="isLoading" class="d-flex justify-content-center">

    <mat-spinner></mat-spinner>
</div>